@import url(reset.css);

@media screen and (max-width: 414px) {
    
    body {width: 100%;}
    .center {width: 320px;}
    
    .wrap-head {
        background: linear-gradient(to right, #8c84f9, #a165f4);
        padding-bottom: 157px;
        padding-top: 40px;
    }
    
    .logo {
        width: 100px;
        height: 25px;
        float: none;
        margin: 30px auto 0;
    }
    
    .logo img {
        width: 100px;
        height: 25px;
    }
    
    .head-buttons {
        width: 230px;
        height: 35px;
        float: none;
        margin: 60px auto 0;
        box-shadow: 0 5px 25px 2px rgba(193, 189, 239, 0.5);
    }
    
    .form__buttons {
        width: 100px;
        height: 35px;
    }
    
    .form__buttons-txt {
        width: 60px;
        height: 35px;
        font-size: 14px;
    }
    
    .form__buttons-submit {
        width: 18px;
        height: 18px;
        margin: 10px 0 0 12px;
    }
    
    .head-menu {
        width: 120px;
    }
    
    .head-menu__link {
        width: 120px;
        height: 35px;
        font-size: 14px;
        padding-left: 20px;
        line-height: 36px;
    }
    
    .head-menu__link-img {
        width: 13px;
        height: 8px;
        margin-left: 10px;
    }
    
    .nav-list li a {color: #fff;}
    
    .line {
        height: 28px;
        margin-top: 0;
        top: 4px;
    }
    
    .head-content {
        width: 320px;
        float: none;
    }
    
    .head-content {margin-top: 150px;}
    .head-content__title {font-size: 70px;}
    
    .head-content__text {
        font-size: 32px;
        margin-top: 13px;
    }
    
    .head-content__link, .bags__box-add {
        width: 180px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
        margin: 0 auto;
    }
    
    .head-content__link {box-shadow: 0 5px 25px 2px rgba(193, 189, 239, 0.5);}
    .head-content__link:hover {box-shadow: 0 5px 25px 6px rgba(193, 189, 239, 0.5);}
    
    .arrivals {padding-bottom: 0;}
    
    .arrivals__title-h1 {
        font-size: 30px;
    }
    
    .gren-line, .blue-line, .yellow-line, .brands__text-txt br {display: none;}
    
    .bags__box {
        width: 320px;
        float: none;
        margin: 0 auto 40px;
    }
    
    .bags__box-text1 {font-size: 14px;}
    .bags__box-text2 {font-size: 20px;}
    .bags__box-add {margin: 47px auto 0;}
    .bags-visible {padding-bottom: 40px;}
    
    .brands__text, .brands__img {
        width: 320px;
        float: none;
        margin: 0 auto;
    }
    
    .brands__text-title {
        padding-top: 120px;
        font-size: 30px;
        text-align: center;
    }
    
    .brands__text-subtitle {
        font-size: 20px;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    
    .brands__text-txt {
        font-size: 14px;
        text-align: center;
    }
    
    .brands__img {margin-top: 140px;}
    .brands__img-circle {display: none;}
    
    .brands__img-phone {
        width: 280px;
        margin: 0 auto;
    }
    
    .showcase__nav-list {
        width: 320px;
        height: auto;
        margin-bottom: 50px;
    }
    
    .showcase__nav-list li {
        height: 40px;
        line-height: 40px;
    }
    
    .circle_showcase {
        top: 315px;
        left: 13px;
    }
    
    .wrap-newsletter {margin-top: -50px;}
    
    .arrivals__title-h1 {padding-top: 100px;}
    .newsletter__subtitle {font-size: 50px;}
    
    .newsletter__subtitle {
        font-size: 43px;
        left: 10px;
        top: 126px;
    }
    
    .newsletter__form {
        width: 320px;
        height: 50px;
    }
    
    .newsletter__form-block {
        line-height: 50px;
    }
    
    .newsletter-email {
        width: 200px;
        height: 30px;
        font-size: 14px;
    }
    
    .newsletter-submit {
        width: 90px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    
    .newsletter {padding-bottom: 80px;}
    
    .footer-block__logo-link a {
        width: 120px;
        height: 30px;
        font-size: 28px;
    }
    
    .footer-block__nav-list {width: 300px;}
    .footer-block__nav-list li {margin: 10px 5px;}
    .footer-block__nav-list li a {font-size: 14px;}
    .footer-block__icons-list {width: 320px;}
    .footer-block__icons-list li {margin: 0 20px;}
    .footer-block {padding-bottom: 0;}
    
    .footer-block__icons-list li a {
        width: 35px;
        height: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    
    .copyright__text {font-size: 10px;}
    
}
    