@import url(reset.css);

button,input[type="submit"],input[type="button"],a:hover{cursor:pointer;}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body img, body a {display:block;}
a {text-decoration: none;}

body {width: 1604px;}

aside, nav, footer, header, section, article {display: block;}

.clear{clear:both;}

.clearfix:before, .clearfix:after{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after{clear: both;}

.center
{
	width: 1447px;
	margin: 0 auto;
    padding: 0;
    position: relative;
}

.wrap-head {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-head {
    position: relative;
    padding-bottom: 257px;
}

.head {}

.logo {
    width: 156px;
    height: 38px;
    float: left;
    margin: 80px 0 0 136px;
}

.head-buttons {
    width: 371px;
    height: 65px;
    float: right;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.5);
    margin: 80px 142px 0 0;
    /*background-color: #fff;*/
}

.nav-list {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-list li a {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    color: #000;
    padding-left: 40px;
    line-height: 26px;
}
.nav-list li a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.form__buttons {
    width: 180px;
    height: 65px;
    float: left;
}

.form__buttons-txt {
    float: right;
    width: 110px;
    height: 65px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 18px;
    color: #000;
    border: none;
    padding-left: 5px;
}

.form__buttons-submit {
    float: left;
    width: 25px;
    height: 26px;
    border: none;
    background-color: #fff;
    margin: 18px 0 0 30px;
}
.form__buttons-submit:hover {opacity: 0.7;}

input[type="search"]::-ms-search-decoration,
input[type="search"]::-ms-search-cancel-button,
input[type="search"]::-ms-search-results-button,
input[type="search"]::-ms-search-results-decoration { display: none;}
input[type="search"]::-moz-search-decoration,
input[type="search"]::-moz-search-cancel-button,
input[type="search"]::-moz-search-results-button,
input[type="search"]::-moz-search-results-decoration { display: none;}
input[type="search"]::-o-search-decoration,
input[type="search"]::-o-search-cancel-button,
input[type="search"]::-o-search-results-button,
input[type="search"]::-o-search-results-decoration { display: none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none;}
input[type="search"]::-ms-input-placeholder {color: #000;}
input[type="search"]::-moz-placeholder {color: #000;}
input[type="search"]::-o-placeholder {color: #000;}
input[type="search"]::-webkit-input-placeholder {color: #000;}

.head-menu {
    position: relative;
    width: 188px;
    float: right;
}

.line {
    position: absolute;
    width: 1px;
    height: 37px;
    background-color: #e0e0e0;
    margin-top: 14px;
}

.head-menu__link {
    width: 188px;
    height: 65px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 65px;
    padding-left: 40px;
}
.head-menu__link:hover {opacity: 0.7;}

.head-menu__link-img {
    display: inline-block;
    margin-left: 20px;
}

.head-content {
    width: 560px;
    float: right;
    margin: 188px 99px 0 0;
}

.head-content__title {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 114px;
    letter-spacing: -3px;
    font-weight: 700;
}

.white-txt {color: #fff;}

.head-content__text {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #fbf934;
    margin-top: 24px;
    margin-bottom: 91px;
}

.head-content__link {
    width: 202px;
    height: 60px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 18px;
    color: #000;
    border-radius: 45px;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.5);
}
.head-content__link:hover {box-shadow: 0 5px 25px 8px rgba(193, 189, 239);}

.violet-txt {color: #7048e2;}

.arrivals {
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.5);
    margin-top: -35px;
    background-color: #fff;
    padding-bottom: 101px;
    z-index: 1000;
}

.arrivals__title {position: relative;}

.arrivals__title-h1 {
    position: relative;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    padding-top: 91px;
    padding-bottom: 69px;
    z-index: 1000;
}

.bags-visible {display: block!important;}

.bags__box {
    width: 351px;
    height: 451px;
    float: left;
    margin-left: 95px;
    margin-bottom: 40px;
}

.bags__box-items {margin-top: 19px;}
.bags__box-img {margin: 50px auto 0;}
.bags__box-img img {margin: 0 auto;}

.bags__box-text1 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    color: #777777;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 15px;
}
.bags__box-text1:hover {
    text-decoration: underline;
    color: #000;
}

.bags__box-text2 {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 25px;
    color: #333333;
    text-align: center;
}

.left {
    float: left;
    margin-left: 19px;
}

.right {
    float: right;
    margin-right: 19px;
}

.left__link, .left__text {
    display: inline-block;
    float: left;
}

.left__text {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 14px;
    color: #bbbbbb;
    padding-top: 2px;
    padding-left: 7px;
}

.left__link:hover {opacity: 0.7;}

.bags__box-items {display: none;}

.bags__box-add {
    display: none;
    width: 202px;
    height: 60px;
    background: linear-gradient(to right, #8c84f9, #a165f4);
    background: -webkit-linear-gradient(to right, #8c84f9, #a165f4);
    border-radius: 45px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin: 31px auto 0;
}
.bags__box-add:hover {
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.9);
}

.bags__box:hover {
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.4);
}

.bags__box:hover .bags__box-add, .bags__box:hover .bags__box-items {display: block;}
.bags__box:hover .bags__box-text1 {color: #000;}

.wrap-arrivals {position: relative;}

.gren-line {
    position: absolute;
    top: 67px;
    left: 835px;
    z-index: 10;
}

.triangle-title {
    position: absolute;
    top: 120px;
    left: 263px;
}

.lightning-title {
    position: absolute;
    top: 57px;
    right: 130px;
}

.circle-arrivals {
    position: absolute;
    top: 425px;
    left: 28px;
    z-index: 10;
}

.square-arrivals {
    position: absolute;
    top: 507px;
    right: 59px;
    z-index: 10000;
}

.triangle2-arrivals {
    position: absolute;
    top: 1140px;
    left: 60px;
    z-index: 10000;
}

.brands {
    padding-bottom: 50px;
}

.brands__text {
    width: 525px;
    float: left;
    margin-left: 103px;
}

.brands__text-title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #333333;
    padding-top: 255px;
    padding-bottom: 21px;
    position: relative;
    z-index: 1000;
}

.brands__text-subtitle {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 25px;
    color: #333333;
    line-height: 34px;
    padding-bottom: 20px;
}

.brands__text-subtitle a {
    display: inline-block;
    color: #8d83f9;
}
.brands__text-subtitle a:hover {opacity: 0.7;}

.brands__text-txt {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    color: #888888;
    line-height: 27px;
}

.brands__img {
    position: relative;
    width: 550px;
    float: right;
    margin-right: 50px;
}

.brands__img-phone {
    position: relative;
    margin-top: 115px;
    z-index: 1000;
}

.brands__img-circle {
    position: absolute;
    top: 17px;
    left: 63px;
    z-index: 10;
}

.blue-line {
    position: absolute;
    top: 223px;
    left: 327px;
    z-index: 10;
}

.triangle-brands {
    position: absolute;
    top: 732px;
    left: 83px;
}

.lightning-brands {
    top: 485px;
    right: 21px;
}

.showcase {
    padding-bottom: 23px;
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.4);
    background-color: #fff;
    z-index: 1000;
}

.showcase__title-h1 {padding-bottom: 96px;}

.showcase__nav-list {
    width: 1105px;
    height: 66px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0 5px 25px 8px rgba(193, 189, 239, 0.4);
    text-align: center;
}

.showcase__nav-list li {display: inline-block;}

.showcase__nav-list li {
    width: 157px;
    height: 66px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    line-height: 66px;
}
.showcase__nav-list li:hover {
    color: #b394fa;
    cursor: pointer;
}
.showcase__nav-list li.active {
    color: #b394fa;
    cursor: default;
}

.bags {display: none;}
.bags.active {display: block;}

.showcase__title, .wrap-showcase {position: relative;}

.triangle_showcase {
    position: absolute;
    top: 70px;
    left: 191px;
}

.circle_showcase {
    position: absolute;
    top: 286px;
    left: 193px;
}

.yellow_line {
    position: absolute;
    top: 68px;
    right: 533px;
}

.triangle2_showcase {
    position: absolute;
    top: 902px;
    left: 57px;
    z-index: 10000;
}

.square_showcase {
    position: absolute;
    top: 474px;
    right: 58px;
    z-index: 10000;
}

.wrap-newsletter {
    position: relative;
    background: linear-gradient(to right, #8c84f9, #a165f4);
    background: -webkit-linear-gradient(to right, #8c84f9, #a165f4);
    margin-top: -75px;
    z-index: 10;
}

.newsletter {padding-bottom: 123px;}

.newsletter__title-h1 {
    color: #fff;
    padding-top: 172px;
    padding-bottom: 76px;
}

.newsletter__form {
    width: 850px;
    height: 71px;
    background-color: #fff;
    border-radius: 45px;
    margin: 0 auto;
}

.newsletter__form-block {
    line-height: 71px;
    margin: 0 auto;
}

.newsletter-email {
    width: 620px;
    height: 40px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 20px;
    color: #333333;
    margin-left: 20px;
    padding-left: 3px;
    border: none;
}

.newsletter-submit {
    width: 200px;
    height: 60px;
    background: linear-gradient(to right, #8c84f9, #a165f4);
    background: -webkit-linear-gradient(to right, #8c84f9, #a165f4);
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 20px;
    color: #fff;
    border-radius: 45px;
    border: none;
    line-height: 60px;
    margin-top: 5px;
}
.newsletter-submit:hover {
    background: linear-gradient(to right, #de6ff2, #a165f4);
    background: -webkit-linear-gradient(to right, #de6ff2, #a165f4);
    color: #fff;
}

.newsletter__subtitle {
    position: absolute;
    top: 125px;
    left: 218px;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #fefefe;
    text-transform: uppercase;
    opacity: 0.05;
}

.newsletter__form-block input[type="email"]::-ms-input-placeholder {color: #333333;}
.newsletter__form-block input[type="email"]::-moz-placeholder {color: #333333;}
.newsletter__form-block input[type="email"]::-o-placeholder {color: #333333;}
.newsletter__form-block input[type="email"]::-webkit-input-placeholder {color: #333333;}

.footer-block {padding-bottom: 60px;}

.footer-block__logo-link a {
    width: 165px;
    height: 45px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #222222;
    margin: 71px auto 43px;
}

.footer-block__nav-list {
    width: 540px;
    margin: 0 auto;
}

.footer-block__nav-list li {display: inline-block;}

.footer-block__nav-list li a {
    width: 85px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 18px;
    color: #404040;
    text-align: center;
}
.footer-block__nav-list li a:hover {color: #8d83f9;}

.footer-block__nav-list li .first-link {margin-left: 0;}

.footer-block__icons-list {
    width: 350px;
    height: 53px;
    margin: 50px auto 0;
}

.footer-block__icons-list li {
    display: inline-block;
    margin: 0 15px;
}

.footer-block__icons-list li a {
    width: 53px;
    height: 53px;
    font-size: 23px;
    color: #000;
    text-align: center;
    line-height: 53px;
    border: 1px solid #ecebed;
    border-radius: 45px;
}
.footer-block__icons-list li a:hover {
    background: linear-gradient(to right, #8c84f9, #a165f4);
    background: -webkit-linear-gradient(to right, #8c84f9, #a165f4);
    border: none;
    color: #fff;
}

.copyright {background-color: #f6f5f7;}

.copyright__text {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 15px;
    color: #777777;
    text-align: center;
    line-height: 66px;
}